### python3のバージョンを確認

In [178]:
!which python3

/usr/bin/python3

### packageからVESTAを読みだす

In [179]:
from my_package import visualize

### ASEでPOSCARファイルを可視化

In [180]:
from ase.io import read, write
# POSCARファイルの読み込み
atoms = read('POSCAR')

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'Ba', 'C', 'O'), value…

### Converting a POSCAR file to a DataFrame

In [181]:
from my_package.textfile2df import poscar2df_coords 

df_coords = poscar2df_coords(filename='./POSCAR')
df_coords

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba
8,9,0.250000000000000,0.901100000000000,0.912200000000000,O
9,10,0.250000000000000,0.598900000000000,0.412200000000000,O
10,11,0.750000000000000,0.098900000000000,0.087800000000000,O
11,12,0.750000000000000,0.401100000000000,0.587800000000000,O
12,13,0.459500000000000,0.683900000000000,0.921000000000000,O
13,14,0.040500000000000,0.816100000000000,0.421000000000000,O
14,15,0.540500000000000,0.316100000000000,0.079000000000000,O
15,16,0.040500000000000,0.683900000000000,0.921000000000000,O
16,17,0.459500000000000,0.816100000000000,0.421000000000000,O
17,18,0.959500000000000,0.183900000000000,0.579000000000000,O
18,19,0.959500000000000,0.316100000000000,0.079000000000000,O
19,20,0.540500000000000,0.183900000000000,0.579000000000000,O

### converting POSCAR.nnlist to df_nnlist

In [182]:
from my_package.textfile2df import nnlist2df

nnlist2df(POSCAR_nnlist='POSCAR.nnlist')

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z,central species,neighboring species
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O
16,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
17,6,6,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
18,7,7,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
19,8,8,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
20,9,1,1.282630,0.000000,-1.281885,0.043713,0,0,0,O,C
21,9,9,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
22,10,2,1.282630,0.000000,1.281885,0.043713,0,0,0,O,C
23,10,10,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
24,11,3,1.282630,0.000000,1.281885,-0.043713,0,0,0,O,C
25,11,11,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
26,12,4,1.282630,0.000000,-1.281885,-0.043713,0,0,0,O,C
27,12,12,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
28,13,1,1.289100,-1.112990,0.650283,-0.012857,0,0,0,O,C
29,13,13,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
30,14,2,1.289100,1.112990,-0.650283,-0.012857,0,0,0,O,C
31,14,14,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
32,15,3,1.289100,1.112990,-0.650283,0.012857,0,0,0,O,C
33,15,15,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
34,16,1,1.289100,1.112990,0.650283,-0.012857,0,0,0,O,C
35,16,16,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
36,17,2,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,O,C
37,17,17,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
38,18,4,1.289100,-1.112990,0.650283,0.012857,0,0,0,O,C
39,18,18,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
40,19,3,1.289100,-1.112990,-0.650283,0.012857,0,0,0,O,C
41,19,19,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
42,20,4,1.289100,1.112990,0.650283,0.012857,0,0,0,O,C
43,20,20,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O

### df_nnlistの内、central_atom => neighboring_atom のものを削除
#### ∵central_atom < neighboring_atom ですでにクラスタとして選ばれているから

### df_coords, df_nnlist --> df_coords_clustered
##### 1. df_nnlist  -> df_nnlist_rm_duble（重複削除）
##### 2. df_coords, clusterのfilter  -> df_coords_filterd（クラスタで絞った元の絶対座標）
##### 3. df_nnlist, clusterのfilter  -> df_nnlist_meaned_filterd（クラスタの相対中心座標）
##### 4. df_coords_filterd  ->  df_coords_filterd_2num （df要素の「数値化」）
##### 5. df_nnlist_meaned_filterd + df_coords_filterd_2num -> df_coords_clusterd（クラスタ化された絶対座標）

#### 1. df_nnlist  -> df_nnlist_rm_duble（重複削除）

In [183]:
df_nnlist = nnlist2df(POSCAR_nnlist='POSCAR.nnlist')

In [184]:
def mk_rm_duble_filter(df_nnlist):
    
    df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
    # central atomカラムでgroupbyした後、index列(central atom)をカラムにする
    df_nnlist_grouped = df_nnlist_grouped.reset_index()
    
    rm_duble_filter = df_nnlist_grouped['central atom'] <= df_nnlist_grouped['neighboring atom']
    df_nnlist_rm_duble = df_nnlist_grouped[rm_duble_filter]
    
    rm_duble_filter = df_coords['central atom'].isin(df_nnlist_rm_duble['central atom'])
    
    return rm_duble_filter

#### 2. クラスタ化された絶対中心座標をえる関数

In [185]:
# df_nnlistから重複削除（クラスタ化された絶対中心座標に絞る）
def get_df_coords_filterd(df_nnlist):
    rm_duble_filter = mk_rm_duble_filter(df_nnlist)
    df_coords_filterd = df_coords[rm_duble_filter]

    # 文字列を数値化する
    df_coords_filterd['x'] = pd.to_numeric(df_coords_filterd['x'], errors='coerce')
    df_coords_filterd['y'] = pd.to_numeric(df_coords_filterd['y'], errors='coerce')
    df_coords_filterd['z'] = pd.to_numeric(df_coords_filterd['z'], errors='coerce')

    return df_coords_filterd

In [186]:
df_coords_filterd = get_df_coords_filterd(df_nnlist)
df_coords_filterd

/tmp/ipykernel_14433/4170100849.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
/tmp/ipykernel_14433/2864673522.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['x'] = pd.to_numeric(df_coords_filterd['x'], errors='coerce')
/tmp/ipykernel_14433/2864673522.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['y'] = pd.to_numeric(df_coords_filterd['y'], errors='coerce')
/tmp/ipykernel_14433/2864673522.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['z'] = pd.to_numeric(df_coords_filterd['z'], errors='coerce')

   central atom        x        y        z Species
0             1 0.250000 0.757000 0.919000       C
1             2 0.250000 0.743000 0.419000       C
2             3 0.750000 0.243000 0.081000       C
3             4 0.750000 0.257000 0.581000       C
4             5 0.250000 0.416310 0.754900      Ba
5             6 0.250000 0.083690 0.254900      Ba
6             7 0.750000 0.583690 0.245100      Ba
7             8 0.750000 0.916310 0.745100      Ba

### クラスタ化された相対中心座標を計算する関数

In [187]:
def get_cluster_relative_center(df_nnlist, rm_duble_filter):
    """
    Calculating relative center coordinates of cluster
    param1: df_nnlist
    
    output: df_cluster_relative_center
    """
    df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
    # central atomカラムでgroupbyした後、index列(central atom)をカラムにする
    df_nnlist_grouped = df_nnlist_grouped.reset_index()
    # 重複削除
    df_cluster_relative_center = df_nnlist_grouped[rm_duble_filter]
    
    return df_cluster_relative_center

In [188]:
df_cluster_relative_center = get_cluster_relative_center(df_nnlist, rm_duble_filter)
df_cluster_relative_center

/tmp/ipykernel_14433/3369655468.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z
0,1,9.750000,0.965207,0.000000,-0.004670,-0.004500,0.000000,0.000000,0.000000
1,2,10.750000,0.965207,0.000000,0.004670,-0.004500,0.000000,0.000000,0.000000
2,3,12.000000,0.965207,0.000000,0.004670,0.004500,0.000000,0.000000,0.000000
3,4,13.500000,0.965207,0.000000,-0.004670,0.004500,0.000000,0.000000,0.000000
4,5,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,6,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,7,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,8,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### = 元のPOSCARファイルのdf + nnlistで得たクラスタ相対中心座標

In [189]:
def get_clusterd_coords(df_abs=df_coords_filterd, df_relative=df_cluster_relative_center):
    df_coords_x = df_abs['x'] + df_relative['X']
    df_coords_y = df_abs['y'] + df_relative['Y']
    df_coords_z = df_abs['z'] + df_relative['Z']
    df_coords_species = df_abs['Species']

    # カラム名を指定してデータフレームを作成
    df_coords_fix = pd.DataFrame({
        'X': df_coords_x,
        'Y': df_coords_y,
        'Z': df_coords_z,
        'Species': df_coords_species,
    })

    return df_coords_fix

In [190]:
df_coords_fix = get_clusterd_coords(df_abs=df_coords_filterd, df_relative=df_cluster_relative_center)
df_coords_fix

         X        Y        Z Species
0 0.250000 0.752330 0.914500       C
1 0.250000 0.747670 0.414500       C
2 0.750000 0.247670 0.085500       C
3 0.750000 0.252330 0.585500       C
4 0.250000 0.416310 0.754900      Ba
5 0.250000 0.083690 0.254900      Ba
6 0.750000 0.583690 0.245100      Ba
7 0.750000 0.916310 0.745100      Ba

### 元のPOSCARファイルから5行目までを抽出して、新しいPOSCARファイルに書き込む関数

In [191]:
def df2poscar(df=df_coords_fix, original_file="./POSCAR", output_file="gen_data/POSCAR"):
    """
    Writing the DataFrame(:df_coords_fix) to a POSCAR file.
    param1: DataFrame that has 'X', 'Y', 'Z' columns about coords.
    param2: original POSCAR file
    param3: generated POSCAR file
    """
    
    # df_coords_fixを文字列に変換
    def df2str(df):
        df_coords_fix_str = df[['X', 'Y', 'Z']].to_string(header=False, index=False, index_names=False)
        return df_coords_fix_str
    
    # df_coords_fixから元素種を文字列として抽出する関数
    def return_species(df):
        speies_0 = df['Species'].unique()[0]
        speies_1 = df['Species'].unique()[1]
        num_C = len(df[df['Species'] == speies_0])
        num_Ba = len(df[df['Species'] == speies_1])

        species_line = f"""   {speies_0}   {speies_1}
       {num_C}   {num_Ba}"""

        return species_line

    
    # 元のPOSCARファイルの5行目までを抽出し，新しいファイルに書き込む
    def wirte_header2poscar():
        # 最初の5行を抽出
        with open(original_file, 'r') as infile:
            lines = infile.readlines()[:5]
        # 新しいPOSCARファイルに書き込む
        with open(output_file, 'w') as outfile:
            outfile.writelines(lines)
    
    
    # 新しいPOSCARファイルに書き込んでいく
    def write_species2poscar():
        with open(output_file, 'a') as file:
            # すでに存在するテキストファイルに元素種を追記
            file.write(return_species(df) + '\n')
            # 元素種まで書かれたファイルにDirectという文字をを追記
            file.write('Direct\n' )
            # 直交座標を追記
            file.write(df_coords_fix_str)

            
    # 関数をcall
    df2str(df)
    wirte_header2poscar()
    write_species2poscar()
    
    print(f"{output_file} にクラスタ化後の内容が書き込まれました。")

In [192]:
df2poscar(df=df_coords_fix)

gen_data/POSCAR にクラスタ化後の内容が書き込まれました。

#### 編集後のposcarファイルをASEで可視化

In [193]:
from ase.io import read, write

output_file="gen_data/POSCAR"
# POSCARファイルの読み込み
atoms = read(output_file)

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'Ba', 'C'), value='All…

### 編集後のPOSCARファイルをVESTAで可視化

In [195]:
from my_package import visualize
POSCAR = './gen_data//POSCAR'
visualize.vesta(POSCAR)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.263: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.263: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.263: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.263: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-CRITICAL **: 22:07:27.266: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.466: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.466: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-CRITICAL **: 22:07:27.466: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.864: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.865: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.865: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:27.865: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-CRITICAL **: 22:07:27.867: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:16697): Gtk-WARNING **: 22:07:28.127: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-WARNING **: 22:07:28.128: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:16697): Gtk-CRITICAL **: 22:07:28.128: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

type=0 format=0 nitems=0 atom=276 252
workspace= 0 : -1, x=8, y=64; Screen_W=1504